a {
    font-size: 20px;
    text-decoration: none;
}


/* a:hover {
    background: #f9a03f;
    color: white;
} */

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: line-through;
    color: #ccc;
}

a:active {
    text-decoration: underline;
    color: yellow
}